@use '../abstracts/index' as ab;

#fee_accordion.css-1l5xnma-MuiPaper-root-MuiAccordion-root.Mui-expanded {
    margin: 0 !important;
}

#warning_accordion {
    h3.heading {
        @include ab.title;
        font-family: AppleSDGothicNeoB;
        font-size: 14px;
        line-height: 1.14;
        text-align: left;
        color: #000;
    }

    ul {
        list-style-type: none;
    }

    li,
    p {
        @include ab.title;
        font-family: AppleSDGothicNeoM;
        font-size: 14px;
        text-align: left;
        color: #646464;
    }
}
