.divider_1 {
    height: 1px !important;
    background-color: #e0e0e0 !important;
    margin: 40px auto 30px !important;
    // max-width: 100%;
}

@media only screen and (min-width: 720px) {
    .divider_1 {
        max-width: 80%;
    }
}

@media only screen and (min-width: 920px) {
    .divider_1 {
        max-width: 70%;
    }
}

@media only screen and (min-width: 1200px) {
    .divider_1 {
        max-width: 43%;
    }
}
