.footer_warning {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    row-gap: 8px;
    padding: 40px 30px;
    background-color: #eceff4;
    .footer-warning_title {
        display: flex;
        justify-content: left;
        gap: 5px;
        align-items: center;
        flex-direction: row;
    }
    .footer_warning_descr {
        max-width: 700px;
        width: auto;
        font-family: AppleSDGothicNeoM;
        font-size: 12px;
        color: #656565;
        line-height: 16px;
        p {
            margin-bottom: 10px;
        }
        span {
            color: #111111;
        }
    }
}

.footer {
    background-color: #000;
    z-index: 0;
    width: 100%;
    height: 530px;
    .footer-logo {
        height: 71px;
        display: flex;
        padding: 0 30px;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        z-index: 10;
        position: relative;
        button {
            background-color: transparent;
            border: none;
            cursor: pointer;
            padding: 10px;
        }
    }
    .footer-info {
        z-index: 10;
        padding: 30px;
        p {
            font-size: 14px;
            line-height: 20px;
            color: #ffffff;
            font-family: AppleSDGothicNeoSB;
        }
        margin-bottom: 30px;
    }

    .footer-accordion {
        background-color: #333;
        color: #fff;
        border-radius: 4px;
        box-shadow: none;
        margin-bottom: 30px;
        margin-top: 25px;
        .MuiAccordionSummary-root {
            background-color: #343434;
            height: 38px;
            color: #fff !important;
        }
        .MuiAccordionSummary-root {
            background-color: #343434;
            height: 38px;
            color: #fff !important;
        }
        .MuiSvgIcon-root {
            color: #ffff !important;
        }
    }
    .footer-end {
        font-family: AppleSDGothicNeoSB;
        font-size: 14px;
        line-height: 16px;
        margin-top: 30px;
        color: #7f7f7f !important;
    }
}

@media only screen and (min-width: 1100px) {
    .footer_warning {
        align-items: center !important;
        justify-content: center !important;
    }
}
