.search_page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.search_header {
    div:nth-child(1) {
        p {
            font-family: AppleSDGothicNeoH !important;
            font-size: 16px;
        }
    }
    margin-bottom: 55px;
}

.search_input {
    display: flex;
    align-items: center;
    padding: 0 20px;
    gap: 10px;
    width: 100%;

    input {
        border: none;
        outline: none;
        width: 100%;
        background-color: transparent !important;
        font-size: 18px;
    }

    button {
        // width: 20%;
        // text-align: center;
        // display: flex;
        // align-items: flex-end;
        i {
            cursor: pointer;
            width: 100%;
            height: auto;
            font-size: 20px !important;
            // color:#8abce2
        }
        background-color: transparent;
    }
}

.tip_search {
    display: flex;
    justify-content: center;
    align-items: left;
    text-align: left;
    flex-direction: column;
    margin: 30px 0px 30px;
    padding: 0 30px;
    > p:first-of-type {
        font-family: AppleSDGothicNeo-Heavy;
        color: black;
        margin-bottom: 10px;
        font-size: 22px !important;
        font-weight: bold;
    }
    > p:nth-of-type(2) {
        font-family: AppleSDGothicNeo-Medium;
        color: black;
        font-size: 14px;
        margin-bottom: 30px;
    }

    .tip_1 {
        display: flex;
        flex-direction: column;
        align-items: left;
        text-align: left;
        // gap: 1px;
        margin-bottom: 10px;
        .tip_2 {
            color: black;
            font-size: 14px;
            font-family: AppleSDGothicNeoM;
            // font-weight: bold;
        }
        .tip_3 {
            color: #8abce2;
            font-size: 14px;
            font-family: AppleSDGothicNeoM;
            // font-weight: bold;
        }
    }
}

.search_sponser {
    width: 100vw;
    // height: calc(100vh - 391px);
    flex: 1;
    gap: 5px;
    background-color: #ececec;
    text-align: center;
    span:nth-child(1),
    span:nth-child(3) {
        color: #8e8e8e;
        font-size: 14px;
        font-family: AppleSDGothicNeoM;
    }
    span:nth-child(2) {
        font-size: 16px;
        color: #494949;
        font-family: AppleSDGothicNeoM;
    }
}
