@use './title' as t;

.textfiledInput {
    margin-top: 20px !important;

    .custom-root {
        border-bottom: 1px solid rgba(0, 0, 0, 0.42);
    }

    // Apply custom color on hover
    .custom-root:hover {
        border-bottom: 2px solid #ea3062 !important;
    }

    // Apply custom color on focus
    .custom-focused {
        border-bottom: 2px solid #ea3062 !important;
    }

    // Customize the label styles (optional if you have titleLable defined)
    .MuiFormLabel-root,
    .MuiFormLabel-root.Mui-focused {
        @include t.titleLable;
    }
}

.label2 {
    label {
        display: none;
    }
}
