@use '../abstracts/index' as ab;

.titleSmall {
    @include ab.title;
    font-family: AppleSDGothicNeoH !important;
    font-size: 20px !important;
    color: #000;
    font-weight: bold !important;
}

.titleMedium {
    @include ab.title;
    font-family: AppleSDGothicNeoH !important;
    font-size: 22px !important;
    color: #000;
    font-weight: bold !important;
}
