@use '../abstracts/index' as ab;

.titleLarge {
    @include ab.label;
    font-size: 24px;
    line-height: 1.17 !important;
}

.titleMedium {
    @include ab.label;
    font-size: 22px !important;
}

.titleSmall {
    @include ab.label;
    font-size: 20px !important;
}

.titleMini {
    @include ab.label;
    font-size: 18px !important;
    text-align: center;
    span {
        background-color: transparent !important;
    }
}

.title-16 {
    @include ab.label;
    font-size: 16px !important;
}

.titleMicro {
    @include ab.label;
    font-size: 14px !important;
    span {
        background-color: transparent !important;
    }
}

.title_all_terms {
    @include ab.title;

    font-family: AppleSDGothicNeoM;
    font-size: 16px;
    line-height: 1.25;
    color: #000;
}

.title_terms {
    @include ab.title;

    font-family: AppleSDGothicNeoM;
    font-size: 14px;
    line-height: 1.43;
    color: #646464;
}

.titleNumber {
    @include ab.title;
    font-size: 14px;
    line-height: 2;
    text-align: left;
    color: #000;
    font-family: AppleSDGothicNeoB;
    span {
        color: #ea3062;
    }
}

@mixin titleLable {
    font-family: AppleSDGothicNeoM;
    font-size: 16px;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #000;
}

.title_label {
    @include ab.title;

    font-family: AppleSDGothicNeoM;
    font-size: 12px;
    line-height: 1;
    text-align: left;
    color: #000;
}

.title_label-2 {
    @include ab.title;

    font-family: AppleSDGothicNeoH;
    font-size: 16px;
    line-height: 0.75;
    color: #000;
}

.title-amount {
    @include titleLable;
    line-height: 1.75;
}

.subtitle {
    @include ab.title;

    font-family: SFProText;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.33;
    letter-spacing: -0.41px;
    text-align: left;
    color: #6d6d6d;
}

.title_drawer {
    @include ab.title;

    font-family: AppleSDGothicNeoH;
    font-size: 20px;
    line-height: 1.4;
    text-align: left;
    color: #ea3062;
}

.title_description {
    @include titleLable;
    text-align: center !important;
}

.title_card_banner {
    @include ab.title;

    font-family: AppleSDGothicNeoH;
    font-size: 20px;
    line-height: 1.1;
    text-align: left;
    color: #ea3062;
}

.title_card_desc {
    @include ab.title;

    font-family: AppleSDGothicNeoSB;
    font-size: 16px;
    line-height: 1.38;
    text-align: left;
    color: #000;
    margin-top: 8px;
    margin-bottom: 2px;
}

.title_card_subdesc {
    @include ab.title;

    font-family: AppleSDGothicNeoSB;
    font-size: 14px;
    line-height: 1.57;
    text-align: left;
    color: #6c7db7;
}

// Info boxes
.grey_label {
    @include ab.label;
    font-size: 16px;
    line-height: 1.75;
    flex: 1 1 auto;
    min-width: 0;
    font-family: AppleSDGothicNeoH;
    color: #b7c2d6;
    text-align: left;
}

.medium_info {
    @include ab.label;
    font-size: 16px;
    line-height: 1.75;
    flex: 1 1 auto;
    min-width: 0;
    font-family: AppleSDGothicNeoM;
    color: #000;
    text-align: right;
}

span.bullet-L {
    display: inline-block;
    width: 9px;
    height: 9px;
    margin: 0 8px 4px 6px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
