@use '../abstracts/index' as ab;

.titleH-24 {
    @include ab.titleH;
    font-size: 24px;
    line-height: 1.17 !important;
}

.titleH-22 {
    @include ab.titleH;
    font-size: 22px !important;
}

.titleH-20 {
    @include ab.titleH;
    font-size: 20px !important;
}

.titleH-18 {
    @include ab.titleH;
    font-size: 18px !important;
    text-align: center;
    span {
        background-color: transparent !important;
    }
}

.titleH-16 {
    @include ab.titleH;
    font-size: 16px !important;
}

.titleH-14 {
    //@include ab.titleH;
    font-size: 14px !important;
    font-family: AppleSDGothicNeoB;
    span {
        background-color: transparent !important;
    }
}

.orange-font {
    @include ab.SFProText;
    color: #ff5400;
}

.title_all_terms {
    @include ab.titleM;
    font-size: 16px;
}

.title_terms {
    @include ab.titleM;
    font-size: 14px;
    line-height: 1.43;
    color: #646464;
}

.titleNumber {
    @include ab.title;
    font-size: 14px;
    line-height: 2;
    font-family: AppleSDGothicNeoB;
    span {
        color: var(--primary);
    }
}

.title_label {
    @include ab.titleM;
    font-size: 12px;
    line-height: 1;
}

.title_label-2 {
    @extend .titleH-16;
    line-height: 0.75;
}

.title-amount {
    @include ab.titleM;
    font-size: 16px;
    line-height: 1.75;
}

.title_drawer {
    @extend .titleH-20;

    line-height: 1.4;
    color: var(--primary);
}

.subtitle {
    @include ab.SFProText;
    color: #6d6d6d;
}

.title_description {
    @include ab.titleM;
    font-size: 16px;
    text-align: center !important;
}

// Info boxes
.grey_label {
    @include ab.titleH;
    font-size: 16px;
    line-height: 1.75;
    flex: 1 1 auto;
    min-width: 0;
    color: #b7c2d6;
}

.medium_info {
    @include ab.titleM;
    font-size: 16px;
    line-height: 1.75;
    flex: 1 1 auto;
    min-width: 0;
    text-align: right;
}

span.bullet-L {
    display: inline-block;
    width: 9px;
    height: 9px;
    margin: 0 8px 4px 6px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
