.title_video, 
.title_card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    row-gap: 20px;
    padding: 0 26px;
    align-items: left;
}

.title_main_component {
    font-family: AppleSDGothicNeoH;
    font-size: 36px;
    font-stretch: normal;
    font-style: normal;
    line-height: 40px;
    letter-spacing: normal;
    text-align: left;
    color: #000;
}

.title_main_des {
    font-family: AppleSDGothicNeSB;
    font-size: 16px;
    font-stretch: normal;
    font-style: normal;
    line-height: 24px;
    letter-spacing: normal;
    text-align: left;
    color: #6a6a6a;
}