.dflex_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dflex_item {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.dflex_spacebetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.flexColumn_item {
    flex-direction: column;
}

.dflex-column {
    display: flex;
    flex-direction: column;
}


.fullWidth_item {
    width: 100%;
}

.fullHeightView_item {
    height: 100vh;
}


.text_center_items {
    text-align: center;
}
