.dflex_center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flexColumn_item{
    flex-direction: column;
}

.dflex_item_inline {
    display: flex;
    flex-direction: row;
    gap: calc(24px / var(--items-count));
}

.fullWidth_item {
    width: 100%;
}

.dflex_item_inline[data-items="2"] {
    --items-count: 2;
}

.dflex_item_inline[data-items="3"] {
    --items-count: 3;
}
