@mixin header {
    height: 68px;
    width: 100%;
}

@mixin button {
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
}

@mixin inactive-button {
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
    background-color: #c8c8c8;
    font-size: 16px;
    font-family: AppleSDGothicNeoEB;
    height: 50px;

    &.active {
        background-color: #333647 !important;
        cursor: pointer;
    }
}

@mixin title {
    font-stretch: normal !important;
    font-style: normal !important;
    letter-spacing: normal;
}

@mixin label {
    font-stretch: normal !important;
    font-style: normal !important;
    letter-spacing: normal;
    text-align: left;
    font-family: AppleSDGothicNeoH !important;
    color: #000;
}
