@mixin header {
    height: var(--header-height);
    width: 100%;
    position: relative;
    //position: fixed;
    //top: 0;
}

@mixin button {
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
    border: none;
    outline: none;
    width: 100%;
}

@mixin inactive-button {
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
    background-color: #c8c8c8;
    font-size: 16px;
    font-family: AppleSDGothicNeoEB;
    height: 50px;
    width: 100%;

    &.active {
        background-color: var(--secondary) !important;
        cursor: pointer;
    }
}

@mixin title {
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000;
}

@mixin titleH {
    @include title;
    font-family: AppleSDGothicNeoH !important;
}

@mixin titleM {
    @include title;
    font-family: AppleSDGothicNeoM !important;
}

@mixin SFProText {
    @include title;
    font-family: SFProText;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.33;
    letter-spacing: -0.41px;
}
