@use '../abstracts/index' as ab;

.header0 {
    @include ab.header;
    background-color: transparent;
}

.header1 {
    @include ab.header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: transparent;
    .mainLogo {
        width: 130px;
    }
}

@media only screen and (max-width: 430px) {
    .header1 {
        .mainLogo {
            width: 100px;
        }
    }
}

@media only screen and (min-width: 780px) {
    .header1 {
        .mainLogo_2 {
            p {
                font-size: 20px !important;
            }
            img {
                width: 25px;
            }
        }
    }
}

.back_icon_header {
    position: absolute;
    left: 20px !important;
}

.close_icon_header {
    position: absolute;
    right: 20px !important;
}
