.banner_header {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    padding: 0 !important;
    overflow: hidden !important;
}

.slick-slider,
.slick-list {
    margin: 0;
    padding: 0;
}

.overlayer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    opacity: 0.4;
    background: #000000;
    z-index: -1;
}

.banner_image {
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: border-box;
    z-index: 0;
    opacity: 1;
    position: relative;
}

.banner_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 24px;
    position: absolute;
    width: 100%;
    bottom: 122px;
    gap: 43px;

    div:nth-child(1) {
        .title_1 {
            font-family: AppleSDGothicNeoH;
            font-size: 20px;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            color: #fdffcb;
        }

        .title_2 {
            font-family: AppleSDGothicNeoH;
            font-size: 40px;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.15;
            letter-spacing: normal;
            text-align: center;
            color: #fff;
            margin-top: 3px;
        }
    }

    img {
        animation-name: lay_up;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        @keyframes lay_up {
            from {
                transform: translateY(0%);
            }
            to {
                transform: translateY(-90%);
            }
        }
    }
}

.banner_video {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0 !important;
}

.title_video,
.title_card {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: center;
    text-align: left;
}

.title_main_component {
    font-family: AppleSDGothicNeoH;
    font-size: 36px;
    font-stretch: normal;
    font-style: normal;
    line-height: 40px;
    letter-spacing: normal;
    text-align: left;
    color: #000;
}

.title_main_des {
    font-family: AppleSDGothicNeSB;
    font-size: 16px;
    font-stretch: normal;
    font-style: normal;
    line-height: 24px;
    letter-spacing: normal;
    text-align: left;
    color: #6a6a6a;
}

.bottom_carousel {
    width: 312px;
    height: 350px;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
    margin: 0 auto 100px;
    border-radius: 10px !important;
    .banner_slider {
        img {
            border-radius: 10px;
            width: 100%;
            height: 100%;
        }
    }
    .slick-dots {
        position: static;
        button::before {
            font-size: 13px;
        }
        .slick-active button::before {
            color: #ea3062;
        }
    }
}

@media only screen and (min-width: 200px) and (max-width: 500px) {
    .banner_text {
        left: 0%;
        transform: translateX(0);
    }
}

/*Ipad dọc(768 x 1024)*/
@media only screen and (min-width: 800px) {
    .banner_image {
        background-position: top 30% left 70%;
    }
}
/*Ipad ngang(1024 x 768)*/
@media only screen and (min-width: 1024px) {
    .banner_image {
        background-size: cover;
        background-position: top 40% left 70%;
        background-position: top 5%;
    }
}

// card component banner

.card_banner {
    width: 312px;
    height: 138px;
    padding: 28px 15px;
    border-radius: 8px;
}
