@use '../../abstracts/index' as ab;

.banner_header {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    padding: 0 !important;
    overflow: hidden !important;
}

.slick-slider,
.slick-list {
    margin: 0;
    padding: 0;
}

.overlayer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    opacity: 0.15;
    background: #000000;
    z-index: -1;
}

.banner_image {
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: border-box;
    z-index: 0;
    opacity: 1;
    position: relative;
    img {
        animation-name: lay_up;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        @keyframes lay_up {
            from {
                bottom: 20%;
            }
            to {
                bottom: 15%;
            }
        }
    }
}

.banner_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 24px;
    position: absolute;
    width: 100%;
    bottom: 25.2631%;
    gap: 43px;

    div:nth-child(1) {
        .title_1 {
            font-family: AppleSDGothicNeoH;
            font-size: 20px;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            color: #fdffcb;
        }

        .title_2 {
            font-family: AppleSDGothicNeoH;
            font-size: 40px;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.15;
            letter-spacing: normal;
            text-align: center;
            color: #fff;
            margin-top: 3px;
        }
    }
}

.title_video,
.title_card {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: center;
    text-align: center;
    margin-top: 90px;
    margin-bottom: 40px;
    .title_main_component {
        font-family: AppleSDGothicNeoH;
        font-size: 36px;
        line-height: 40px;
        letter-spacing: -0.7px;
        text-align: left;
        color: #000;
    }
    .title_main_des {
        font-family: AppleSDGothicNeo;
        font-size: 16px;
        letter-spacing: -0.7px;
        font-weight: 600;
        line-height: 24px;
        text-align: left;
        color: #6a6a6a;
    }
}

.title_card {
    margin-top: 57px;
}

.bottom_carousel {
    // max-width: var(--webContainerWidth);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    max-width: var(--webContainerWidth);

    img {
        border-radius: 8px;
        max-width: calc(100vw - 48px);
    }

    .slick-dots {
        // position: static;
        button::before {
            font-size: 13px;
        }
        .slick-active button::before {
            color: var(--primary);
        }
    }
}

// card component banner

.card_banner {
    // max-width: 500px;
    width: 100%;
    height: 138px;
    padding: 28px 15px;
    border-radius: 8px;
    gap: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card_item_left {
    //.title_card_banner {
    //    @include ab.title;
    //    font-family: AppleSDGothicNeoH;
    //    font-size: 20px;
    //    //font-weight: 900;
    //    line-height: 22px;
    //    text-align: left;
    //    color: var(--primary);
    //}
    //.title_card_desc {
    //    @include ab.title;
    //    font-family: AppleSDGothicNeoSB;
    //    font-weight: 700;
    //    font-size: 16px;
    //    letter-spacing: -0.7px;
    //    line-height: 1.38;
    //    text-align: left;
    //    color: #000;
    //    margin-top: 8px;
    //    margin-bottom: 2px;
    //}
    //.title_card_subdesc {
    //    @include ab.title;
    //    font-family: AppleSDGothicNeoSB;
    //    font-size: 14px;
    //    line-height: 1.57;
    //    text-align: left;
    //    color: #6c7db7;
    //}
}

.card_item_right {
    img {
        width: 66px;
        aspect-ratio: 1/1.02;
    }
}

//responsive

@media screen and (min-width: 769px) {
    .banner_text {
        bottom: 50%;
        transform: translateY(50%);
        div:nth-child(1) {
            .title_1 {
                font-size: 30px;
            }
            .title_2 {
                font-size: 50px;
            }
        }
    }
}