@forward './banner';
@forward './footer';
@forward './video_component';
@forward './title_main_component';

.button_container {
    height: 104px;
    width: 100%;
    padding: 32px 0px 16px;
    z-index: 0;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to top, #fff 70%, rgba(255, 255, 255, 0));
    position: fixed;
    bottom: 0;
    .button_main {
        background-color: var(--primary);
        width: calc(100vw - 32px);
        height: 56px;
        border-radius: 8px;
        z-index: 1;
        cursor: pointer;
        color: white;
        img {
            width: 0;
            height: 0;
        }
    }
}



@media only screen and (min-width: 850px ) {
    .button_container {
        background-image: none;
        height: auto;
        display: absolute;
        bottom: 5%;
        left: 40%;
        .button_main {
            width: 90px;
            height: 170px;
            padding: 24px 29px;
            border-radius: 96px;
            img {
                width: 22px;
                height: 22px;
            }
        }
    }
}

@media only screen and (min-width: 1110px ) {
    .button_container {
        left: 45%;
    }
}