@forward './banner';
@forward './footer';
@forward './video_component';
@forward './title_main_component';

.button_container {
    height: 104px;
    width: 100%;
    padding: 32px 0px 16px;
    z-index: 0;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to top, #fff 70%, rgba(255, 255, 255, 0));
    position: fixed;
    bottom: 0;
    .button_main {
        background-color: var(--primary);
        width: calc(100vw - 32px);
        height: 56px;
        border-radius: 8px;
        z-index: 1;
        cursor: pointer;
        color: white;
    }
}

.button_main_2 {
    display: none;
    width: 90px;
    height: 170px;
    padding: 24px 29px;
    border-radius: 96px;
    position: fixed;
    bottom: 5%;
    right: 3%;
    background-color: var(--primary);
    z-index: 2;
    line-height: 1.08;
    color: #fff;
    cursor: pointer;

    img {
        margin-top: 11px;
        width: 20px;
        height: 20px;
    }
}

@media only screen and (min-width: 850px) {
    .button_container {
        display: none;
    }
    .button_main_2 {
        display: block;
    }
}
