.video_component {
    width: 100%;
    height: auto;
    margin-bottom: 33px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    //p {
    //    font-family: AppleSDGothicNeoM;
    //    font-weight: 700;
    //    font-size: 20px;
    //    letter-spacing: normal;
    //    text-align: left;
    //    margin: 0;
    //    color: #000;
    //}
}

.video_description {
    width: 100%;
}

.thumbnail_container {
    height: auto;
    //max-width: 400px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img:nth-child(1) {
        object-fit: cover;
        width: 100%;
        border-radius: 7px;
        aspect-ratio: 16 / 9;
    }

    img:nth-child(2) {
        object-fit: cover;
        width: 44px;
        height: 44px;
        background: transparent;
        transform: translate(-50%, -50%);
        cursor: pointer;
        top: 50%;
        left: 50%;
        position: absolute;
    }
}
