@use './layout/index' as lo;
@use './components/index' as c;
@use 'sass:list';

$font-styles: (
    'AppleSDGothicNeo' 'AppleSDGothicNeoB',
    'AppleSDGothicNeoEB',
    'AppleSDGothicNeoH',
    'AppleSDGothicNeoL',
    'AppleSDGothicNeoM',
    'AppleSDGothicNeoR',
    'AppleSDGothicNeoSB',
    'AppleSDGothicNeoT',
    'AppleSDGothicNeoUL',
    'BMDOHYEON_otf',
    'NotoSansCJKkr-Black',
    'NotoSansCJKkr-Bold',
    'NotoSansCJKkr-DemiLight',
    'NotoSansCJKkr-Light',
    'NotoSansCJKkr-Medium',
    'NotoSansCJKkr-Regular',
    'NotoSansCJKkr-Thin',
    'NotoSansCJKkrMonoCJKkr-Bold',
    'NotoSansCJKkrCJKkr-Regular'
);

@mixin font-face($name) {
    @font-face {
        font-family: $name;
        src: url('/font/#{$name}.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }
}

@for $i from 1 through list.length($font-styles) {
    $font-name: list.nth($font-styles, $i);
    @include font-face($font-name);
}

@font-face {
    font-family: 'SFProText';
    src: url('https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff');
}
