@use '../../abstracts/mixins' as ab;

.button1 {
    @include ab.button;

    background-color: #c8c8c8;
    border-radius: 25px;

    font-family: AppleSDGothicNeoEB;
    line-height: 1.22;
}

.button1.active {
    background-color: #333647;
    cursor: pointer;
}

.button2 {
    @include ab.button;

    border-radius: 8px;
    background-color: #333647;

    font-family: AppleSDGothicNeoH;
    line-height: 1.75;
    cursor: pointer;
}

.button3 {
    width: 360px;
    height: 50px;
    padding: 17px 152px 14px;
    background-color: #d9d9d9;

    @include ab.title;

    font-family: AppleSDGothicNeoEB;
    font-size: 16px;
    color: #fff;
}

.button3.active {
    background-color: #333647;
    cursor: pointer;
}

.address-button {
    width: 79px;
    height: 30px;
    padding: auto;
    object-fit: contain;
    border-radius: 15px;
    border: solid 1px #ea3062;
    background-color: #f6f7f9;
    cursor: pointer;

    @include ab.title;

    font-family: AppleSDGothicNeoM;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    color: #ea3062;
}
