@use '../../abstracts/mixins' as m;

.buttonQuestion {
    width: calc(100% / var(--items-count));
    height: 50px;
    border-radius: 35px;
    border: solid 3px #e0e0e0;
    background-color: #f6f7f9;

    @include m.titleH;

    font-size: 16px;
    line-height: 1.75;
    color: #cfcfcf;
    cursor: pointer;
}

.buttonQuestion.active {
    border: solid 3px var(--secondary);
    background-color: var(--base-background);

    color: #000000;
}

.dflex_item_inline {
    display: flex;
    flex-direction: row;
    gap: calc(24px / var(--items-count));
}

.dflex_item_inline[data-items='2'] {
    --items-count: 2;
}

.dflex_item_inline[data-items='3'] {
    --items-count: 3;
}
