@use '../../abstracts/mixins' as ab;

.button1 {
    @include ab.inactive-button;

    border-radius: 25px;
    width: 312px;

    line-height: 1.22;
}

.button2 {
    @include ab.inactive-button;

    border-radius: 8px;
    width: 312px;

    font-family: AppleSDGothicNeoH;
    line-height: 1.75;
}


.button3 {
    @include ab.inactive-button;
    width: 360px;
}

.address-button {
    width: 79px;
    height: 30px;
    padding: auto;
    object-fit: contain;
    border-radius: 15px;
    border: solid 1px #ea3062;
    background-color: #f6f7f9;
    cursor: pointer;

    @include ab.button;

    font-family: AppleSDGothicNeoM;
    font-size: 14px;
    font-weight: 500;
    color: #ea3062;
}

.button_container {
    // background-color: #fff;
    height: 104px;
    width: 100%;
    padding: 32px 0px 16px;
    z-index: 0;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to top, #fff 70%, rgba(255, 255, 255, 0));
    position: fixed;
    bottom: 0;
    .button_main {
        background-color: #ea3062;
        width: 328px;
        height: 56px;
        border-radius: 8px;
        z-index: 1;
        cursor: pointer;
        p {
            color: white;
        }
        padding: 0 20px;
    }
}

.info-modify-button {
    width: 66px;
    height: 24px;
    background: #333647;
    margin-right: 24px;
    padding: 1px 12px;
    font-family: AppleSDGothicNeoM;
    font-size: 12px;
    line-height: 1.83;
    color: #fff;
    border-radius: 40px;
    border: none;
    cursor: pointer;
}

.button-back {
    width: 94px;
    height: 50px;
    background-color: #e6ebf4;
    cursor: pointer;

    @include ab.button;
    font-family: AppleSDGothicNeoEB;
    font-size: 16px;
    color: #989898;
}

.button-calculate {
    width: 266px;

    @include ab.inactive-button;
}