@use '../../abstracts/mixins' as ab;

.button1 {
    @include ab.inactive-button;
    border-radius: 25px;
    line-height: 1.22;
}

.button2 {
    @include ab.inactive-button;
    border-radius: 8px;
    width: 312px;
    font-family: AppleSDGothicNeoH;
    line-height: 1.75;
}

.insurance-info-button {
    @include ab.inactive-button;
}

.button3 {
    @include ab.inactive-button;
    position: fixed;
    bottom: 0;
    max-width: 620px;
}

.option-button {
    position: relative;
    margin-top: 40px;
    width: 100%;
    padding: 0 24px;
    @media only screen and (max-width: 620px) {
        position: absolute;
        bottom: 30px;
    }
}

.fixed-button {
    position: fixed;
    bottom: 0;
    max-width: 620px;
    width: 100%;
}

.address-button {
    @include ab.button;
    width: 79px !important;
    height: 30px;
    object-fit: contain;
    border-radius: 15px;
    background-color: var(--base-background);
    cursor: pointer;
    border: solid 1px var(--primary);

    font-family: AppleSDGothicNeoM;
    font-size: 14px;
    color: var(--primary);
}

.small-button {
    @include ab.button;
    height: 24px;
    background-color: var(--secondary);
    padding: 1px 12px;
    font-family: AppleSDGothicNeoM;
    font-size: 12px;
    line-height: 1.83;
    border-radius: 40px;
    cursor: pointer;
    width: auto;
}

// Insurance Amount page buttons
$first-button: 26.5%;

.insurance-amount-buttons {
    display: flex;

    > :first-child {
        width: $first-button !important;
        height: 50px;
        background-color: #e6ebf4;
        cursor: pointer;

        @include ab.button;
        font-family: AppleSDGothicNeoEB;
        font-size: 16px;
        color: #989898;
    }

    > :last-child {
        width: calc(100% - $first-button) !important;

        @include ab.inactive-button;
    }
}
