.buttonQuestion {
    width: calc(300px / var(--items-count));
    height: 50px;
    border-radius: 35px;
    border: solid 3px #e0e0e0;
    background-color: #f6f7f9;

    font-family: AppleSDGothicNeoH;
    font-size: 16px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: normal;
    color: #cfcfcf;
    text-decoration: none;
}

.buttonQuestion.active {
    width: calc(300px / var(--items-count));
    height: 50px;
    border-radius: 35px;
    border: solid 3px #333647;
    background-color: #f6f7f9;

    font-family: AppleSDGothicNeoH;
    font-size: 16px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: normal;
    color: #000000;
    text-decoration: none;
}

.dflex_item_inline {
    display: flex;
    flex-direction: row;
    gap: calc(24px / var(--items-count));
}

.dflex_item_inline[data-items='2'] {
    --items-count: 2;
}

.dflex_item_inline[data-items='3'] {
    --items-count: 3;
}
